<section>
  <h2>
    {{ section.settings.title }}
  </h2>
  <p>
    {{ section.settings.text }}
  </p>
</section>

{% schema %}
 {
     "name": "Text",
     "settings": [
         {
             "type": "text",
             "id": "title",
             "label": "Title"
         },
         {
             "type": "richtext",
             "id": "text",
             "label": "Text"
         }
     ],
     "presets": [
         {
             "name": "Text"
         }
     ]
 }
{% endschema %}
